<div class="w-full p-12 grid grid-cols-3">
    <div class="glass-blue h-80 m-5 p-5 place-content-center text-Sblack-400">
        <h1 class="text-Sblack-600 text-lg font-semibold">Slang</h1>
        <div>
            * Enter description * eo oeoeoeo eo oeo eo eo oe oeo eo eo oe oe oeo eo oe oe oeo eo oe oe oeo eo eo oe oe oeo eo eo eo oe oe oeo eo eo oe oeo eo oe oe oeo  iohwe oiwhef iowehf iowhe iowehf iwej flwhflkwehf klwfh lkwefhj wo
        </div>
        <div class="flex">
            <button class="w-36 p-4 mt-6 bg-Sblue-400 rounded-tl-md rounded-br-md hover:bg-Sblue-600 transition duration-500">Resume</button>
            <!-- PROGRESS BAR -->
            <div>
                <div class="flex mt-10 mx-4">
                    <div class="bg-emerald-400 h-5 w-5 rounded-l-full"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5 rounded-r-full"></div>
                </div>
                <h3 class="w-full text-center">60% completed</h3>
            </div>
        </div>
    </div>
    <div class="glass-blue h-80 m-5 p-5 place-content-center">
        <h1 class="text-Sblack-600 text-lg font-semibold">Animals</h1>
        <div>
            * Enter description * eo oeoeoeo eo oeo eo eo oe oeo eo eo oe oe oeo eo oe oe oeo eo oe oe oeo eo eo oe oe oeo eo eo eo oe oe oeo eo eo oe oeo eo oe oe oeo  iohwe oiwhef iowehf iowhe iowehf iwej flwhflkwehf klwfh lkwefhj wo
        </div>
        <div class="flex">
            <button class="w-36 p-4 mt-6 bg-Sblue-400 rounded-tl-md rounded-br-md hover:bg-Sblue-600 transition duration-500">Resume</button>
            <!-- PROGRESS BAR -->
            <div>
                <div class="flex mt-10 mx-4">
                    <div class="bg-emerald-400 h-5 w-5 rounded-l-full"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5 rounded-r-full"></div>
                </div>
                <h3 class="w-full text-center">20% completed</h3>
            </div>
        </div>
    </div>
    <div class="glass-blue h-80 m-5 p-5 place-content-center">
        <h1 class="text-Sblack-600 text-lg font-semibold">Safety</h1>
        <div>
            * Enter description * eo oeoeoeo eo 123oeo eo eo oe oeo eo eo oe oe oeo eo oe oe oeo eo oe oe oeo eo eo oe oe oeo eo eo eo oe oe oeo eo eo oe oeo eo oe oe oeo  iohwe oiwhef iowehf iowhe iowehf iwej flwhflkwehf klwfh lkwefhj wo
        </div>
        <div class="flex">
            <button class="w-36 p-4 mt-6 bg-Sblue-400 rounded-tl-md rounded-br-md hover:bg-Sblue-600 transition duration-500">Start</button>
            <!-- PROGRESS BAR -->
            <div>
                <div class="flex mt-10 mx-4">
                    <div class="bg-emerald-100 h-5 w-5 rounded-l-full"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5 rounded-r-full"></div>
                </div>
                <h3 class="w-full text-center">0% completed</h3>
            </div>
        </div>
    </div>
</div>