<div class="w-full">
    <div class="glass-blue h-50 m-5 p-5 place-content-center text-Sblack-500">
        <h1 class="text-Sblack-600 text-lg font-semibold">Defintions</h1>
        <div>
            Learn the accurate definitions of various slang words used all over Austrlia at your leisure.
        </div>
        <div>
            <button class="w-36 p-4 mt-6 bg-Sblue-400 rounded-md hover:bg-Sblue-600 transition duration-500">Learn</button>
        </div>
    </div>

    <div class="glass-blue h-50 m-5 p-5 place-content-center text-Sblack-500">
        <h1 class="text-Sblack-600 text-lg font-semibold">Quizzes</h1>
        <div>
            Pracitice your knowledge of Aussie Slang and recieve instant feedback.
        </div>
        <div class="flex">
            <!-- PROGRESS BAR -->
            <div>
                <div class="flex mt-10 mx-4">
                    <div class="bg-emerald-400 h-5 w-5 rounded-l-full"></div>
                    <div class="bg-emerald-400 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5"></div>
                    <div class="bg-emerald-100 h-5 w-5 rounded-r-full"></div>
                </div>
                <h3 class="w-full text-center">20% completed</h3>
            </div>
        </div>
    </div>
    <div class="glass-blue h-50 m-5 p-5 place-content-center text-Sblack-400">
        <div class="flex">
            <div class="w-32 h-32 rounded-full outline-Sblue-700 bg-Sblue-700 bg-opacity-30 outline outline-4">
                <div class="w-12 h-12 rounded-full bg-slate-500 ml-10 mt-3"></div>
                <div class="w-20 h-11 rounded-t-full bg-slate-500 ml-6"></div>
            </div>
            <div class="ml-8 mt-8">
                <h2>Frederick</h2>
                <h2>21 / 7 / 08</h2>
                <h2>Points: 12</h2>
            </div>
        </div>
    </div>
    <div class="w-full grid place-content-center">
        <button class=" w-36 p-4 bg-Sblue-400 rounded-md hover:bg-Sblue-600 transition duration-500">Log out</button>
    </div>
</div>
