<p-messages class="absolute top-0 right-1"></p-messages> 
<div class="mt-16 overflow-clip grid place-content-center ">
    <!-- QUESTION -->
    <div class="my-4 mx-6 bg-Sblue-300 bg-opacity-30 rounded p-4 py-8">
        <h1 class="text-Sblack-600 text-2xl font-semibold text-center">{{question.Question}}</h1>
    </div>

    <!-- OPTIONS -->
    <div class="grid grid-cols-2 mt-5 my-4 mx-6">
        <button *ngFor="let option of question.Options" (click)="submitted(option)" class="bg-Sblue-300 bg-opacity-30 py-12 rounded mr-2 mb-2">
            <h3 class="text-center text-xl font-medium">{{option}}</h3>
        </button>
    </div>
</div>