<div class="backgroundy w-screen h-screen">
    <!-- NAV BAR -->
    <div *ngIf="router.url != '/login'" class="h-16 flex bg-Sblue-300 bg-opacity-30">
        <div class="grid place-content-center">
            <img src="../assets/slanguage-logo-transparent.png" width="80px" alt="" srcset="">
        </div>
        <div class="grid grid-cols-3 w-full place-content-center place-self-center text-Sblack-500">
            <div class="text-center place-self-center">
                <a href="/home">Home</a>
                <div *ngIf="router.url == '/home'" class="bg-Sblue-700 rounded-full w-12 h-1 text-center"></div>
            </div>
            <div class="text-center place-self-center">
                <a href="/lesson">Defintions</a>
                <div *ngIf="router.url == '/lesson'" class="bg-Sblue-700 rounded-full w-20 h-1 text-center"></div>
            </div>
            <div class="text-center place-self-center">
                <a href="/quiz">Quizzes</a>
                <div *ngIf="router.url == '/quiz'" class="bg-Sblue-700 rounded-full w-16 h-1 text-center"></div>
            </div>
        </div>
    </div>
    <div style="height: 100vh;" class="overflow-y-scroll">
        <router-outlet></router-outlet>
    </div>
</div>