<div class="backgroundy w-screen h-screen">
    <div class="flex">
        <!-- ADD SLIDING MENU FROM HOVER  -->
        <div class="w-1/6">
            <div *ngIf="router.url != '/login'" class="group bg-Sblue-200 bg-opacity-70 w-64 h-52 rounded-br-full hover:rounded-none hover:h-screen transition delay-200 transition-all duration-1000">
                <div class="flex">
                    <img src="../assets/slanguage-logo-transparent.png" class="w-52 group-hover:w-24 transition delay-200 transition-all duration-1000">
                    <h1 class="animate__animated animate__fadeIn hidden group-hover:block text-xl text-Sblack-400 pt-4 tracking-wide">Slanguage</h1>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
        <div class="w-5/6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>