<div class="backgroundy w-screen h-screen">
    <div class="flex">
        <!-- ADD SLIDING MENU FROM HOVER  -->
        <div class="w-screen">
            <div *ngIf="router.url != '/login'" class="group bg-Sblue-200 bg-opacity-70 w-1/6 h-52 rounded-br-full hover:rounded-none hover:h-screen transition delay-200 transition-all duration-1000">
                <img src="../assets/slanguage-logo-transparent.png" alt="" srcset="" width="200px">
                <h2 class="hidden group-hover:block"></h2>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>