<div class="w-screen h-screen">
    <!-- <div class="text_center p-12">
        <h1 class="text_center text-5xl">Definitions</h1>
    </div> -->
    <div class="flex flex-col">
        <div *ngFor="let slang of words">
            <div class="glass-blue h-50 m-5 p-5 place-content-center text-Sblack-400">
                <h1 class="text-Sblack-600 text-lg font-semibold">{{slang.Word}}</h1>
                <div class="text-Sblack-600">
                    {{slang.Definition}}
                </div>
            </div>
        </div>
    </div>
</div>